<div class="container">
  <h1>Channel</h1>
  <div class="row">
    <table class="table table-bordered table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">User Ids</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>{{socketId}}</td>
        </tr>
        <tr *ngFor="let peer of peers; let i = index">
          <th scope="row">{{i+2}}</th>
          <td>{{peer}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
