<div class="row justify-content-center ">
  <app-channel-controls></app-channel-controls>

  <div class="row my-3">
    <ul class="list-group align-items-center pe-0">
      <li class="list-group-item list-group-item-dark user d-flex align-items-center justify-content-between"
          (contextmenu)="onUserRightClick($event)">
        <span *ngIf="selfScreenSharing" matBadge="L" matBadgeColor="warn"
              matBadgeSize="small">{{(this.channel.userStore.displayName || 'You') | slice:0:15 }}</span>
        <span *ngIf="!selfScreenSharing">{{(this.channel.userStore.displayName || 'You') | slice:0:15 }}</span>
        <div class="d-flex align-items-center justify-content-center">
          <mat-icon class="d-flex align-items-center justify-content-center" color="warn" style="font-size: 20px"
                    *ngIf="!selfMicActive || selfDeafened">mic_off
          </mat-icon>
          <mat-icon class="d-flex align-items-center justify-content-center" color="warn" style="font-size: 20px"
                    *ngIf="selfDeafened">volume_off
          </mat-icon>
          <span class="user-picture"
                [ngClass]="selfIsTalking ? 'border-success' : ((selfMicActive && !selfDeafened) ? 'border-dark': 'border-danger')">
            <img src="assets/picture-placeholder.png" alt="user profile picture">
          </span>
        </div>
      </li>
      <li class="list-group-item list-group-item-dark user d-flex align-items-center justify-content-between"
          *ngFor="let peer of channel.peers | keyvalue; let i = index"
          (contextmenu)="onPeerRightClick($event, peer.value)">
        <span *ngIf="peer.value.isSharingScreen" matBadge="L" matBadgeColor="warn"
              matBadgeSize="small">{{(peer.value.displayName || 'Peer') | slice:0:15 }}</span>
        <span *ngIf="!peer.value.isSharingScreen">{{(peer.value.displayName || 'Peer') | slice:0:15 }}</span>
        <div class="d-flex align-items-center justify-content-center">
          <mat-icon class="d-flex align-items-center justify-content-center" color="accent" style="font-size: 20px"
                    *ngIf="peer.value.localMuted">mic_off
          </mat-icon>
          <mat-icon class="d-flex align-items-center justify-content-center" color="warn" style="font-size: 20px"
                    *ngIf="(peer.value.isMuted || peer.value.isDeafened) && !peer.value.localMuted">mic_off
          </mat-icon>
          <mat-icon class="d-flex align-items-center justify-content-center" color="warn" style="font-size: 20px"
                    *ngIf="peer.value.isDeafened">volume_off
          </mat-icon>
          <span class="user-picture"
                [ngClass]="(peer.value.isTalking && !peer.value.localMuted) ? 'border-success' : ((!peer.value.isMuted && !peer.value.isDeafened) ? (!peer.value.localMuted ? 'border-dark' : 'border-warning'): (!peer.value.localMuted ? 'border-danger' : 'border-warning'))">
            <img src="assets/picture-placeholder.png" alt="user profile picture">
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- an hidden div is created to set the position of appearance of the menu-->
<div style="visibility: hidden; position: absolute;"
     [style.left]="menuTopLeftPosition.x"
     [style.top]="menuTopLeftPosition.y"
     [matMenuTriggerFor]="menu"></div>


<mat-menu #menu="matMenu" >
  <ng-template matMenuContent let-peer="peer" let-user="user">
    <app-channel-context-menu [peer]="peer" [user]="user"></app-channel-context-menu>
  </ng-template>
</mat-menu>


<!--PEER OPTIONS (TO ADD TO RIGHT CLICK?)-->
<!--
<button [disabled]="selfDeafened" class="btn btn-dark" (click)="toggleLocalMuteStatus(peer.value)"><i
         [ngClass]="!getLocalMuteStatus(peer.value) ? 'bi bi-volume-up' : 'bi bi-volume-mute'"></i>
</button>
<button *ngIf="peer.value.isSharingScreen" class="btn btn-sm btn-danger"&ndash;&gt;-->
<!--                  (click)="openScreenShare(peer.value.socketId, peer.value.remoteStream)">SHARING SCREEN-->
<!--          </button>-->
<!--          <br>-->

<!--USER OPTIONS (OPTIONS MENU)-->
<!--<div>&ndash;&gt;-->
<!--  <div class="row">-->
<!--    <div class="col-auto">-->
<!--      <label for="display-name">Display Name</label>-->
<!--      <input class="form-control" type="text" id="display-name" [(ngModel)]="this.channel.userStore.displayName"-->
<!--             (input)="changeName($event)">-->
<!--    </div>-->
<!--    <div>Current Volume: <span #audioMeter></span></div>-->
<!--  </div>-->
<!--</div>-->

<ng-container *ngFor="let peer of channel.peers | keyvalue">
  <audio *ngIf="!!peer.value.remoteStream.active" [volume]="peer.value.volume" [srcObject]="peer.value.remoteStream"
         autoplay></audio>
</ng-container>
